In [23]:
!pip install requests

Requirement already satisfied: requests in c:\python\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\python\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\python\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\python\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\python\lib\site-packages (from requests) (2.9)

In [24]:
!pip install pandas

Requirement already satisfied: pandas in c:\python\lib\site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\python\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\python\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\python\lib\site-packages (from pandas) (1.19.0)
Requirement already satisfied: six>=1.5 in c:\python\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [89]:
import pandas as pd
import requests
import json
import math

In [92]:
url = "https://brasil.io/api/dataset/covid19/caso/data/"

In [ ]:
#url = "https://brasil.io/api/dataset/covid19/caso_full/data/"
url = "https://brasil.io/api/dataset/covid19/caso_full/data/?page="
url = "https://brasil.io/api/dataset/covid19/caso_full/data/?page=254"

In [93]:
payload = {}
headers = {
  'Cookie': ''
}

response = requests.request("GET", url, headers=headers, data = payload)

In [94]:
data = json.loads(response.text.encode('utf8').decode('utf8')) if response.status_code == 200 else print('Escrever Log')

In [95]:
data['results'][0].keys()

dict_keys(['city', 'city_ibge_code', 'confirmed', 'confirmed_per_100k_inhabitants', 'date', 'death_rate', 'deaths', 'estimated_population_2019', 'is_last', 'order_for_place', 'place_type', 'state'])

In [96]:
math.ceil(data['count']/len(data['results']))

246

In [97]:
data['next']

'https://brasil.io/api/dataset/covid19/caso/data/?page=2'

In [98]:
data['results'][0]

{'city': None,
 'city_ibge_code': '12',
 'confirmed': 11810,
 'confirmed_per_100k_inhabitants': 1339.10095,
 'date': '2020-06-23',
 'death_rate': 0.0272,
 'deaths': 321,
 'estimated_population_2019': 881935,
 'is_last': True,
 'order_for_place': 99,
 'place_type': 'state',
 'state': 'AC'}

In [99]:
pd.DataFrame.from_dict(data['results'])

,city,city_ibge_code,confirmed,confirmed_per_100k_inhabitants,date,death_rate,deaths,estimated_population_2019,is_last,order_for_place,place_type,state
0,None,12,11810,1339.10095,2020-06-23,0.0272,321,881935.0,True,99,state,AC
1,None,27,30246,906.28602,2020-06-23,0.0304,920,3337357.0,True,104,state,AL
2,Alvarães,1300029,505,3148.18278,2020-06-23,0.0238,12,16041.0,True,51,city,AM
3,Amaturá,1300060,364,3155.33981,2020-06-23,0.0220,8,11536.0,True,61,city,AM
4,Anamã,1300086,268,1968.56177,2020-06-23,0.0000,0,13614.0,True,71,city,AM
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Presidente Juscelino,3153202,1,27.46498,2020-06-23,1.0000,1,3641.0,True,60,city,MG
996,Presidente Kubitschek,3153301,1,33.31113,2020-06-23,0.0000,0,3002.0,True,4,city,MG
997,Presidente Olegário,3153400,1,5.10908,2020-06-23,0.0000,0,19573.0,True,13,city,MG
998,Raposos,3153905,29,177.32665,2020-06-23,0.0690,2,16354.0,True,53,city,MG
999,Raul Soares,3154002,6,25.25040,2020-06-23,0.0000,0,23762.0,True,35,city,MG