!pip install requests

!pip install pandas

In [1]:
import pandas as pd
import requests
import json
import math

In [2]:
url_base = "https://brasil.io/api/dataset/covid19/caso/data/"

In [3]:
#url = "https://brasil.io/api/dataset/covid19/caso_full/data/"
url_initial = "https://brasil.io/api/dataset/covid19/caso_full/data/?page="
url_final = "https://brasil.io/api/dataset/covid19/caso_full/data/?page=254"

In [5]:
payload = {}
headers = {
  'Cookie': ''
}

response_url_base = requests.request("GET", url_base, headers=headers, data = payload)

In [7]:
data = json.loads(response_url_base.text.encode('utf8').decode('utf8')) if response_url_base.status_code == 200 else print('Escrever Log')

In [8]:
data.keys()

dict_keys(['count', 'next', 'previous', 'results'])

In [9]:
data['count'], data['next'], data['previous']

(248546, 'https://brasil.io/api/dataset/covid19/caso/data/?page=2', None)

In [ ]:
math.ceil(data['count']/len(data['results']))

In [ ]:
data['next']

In [ ]:
data['results'][0]

In [10]:
pd.DataFrame.from_dict(data['results'])

,city,city_ibge_code,confirmed,confirmed_per_100k_inhabitants,date,death_rate,deaths,estimated_population_2019,is_last,order_for_place,place_type,state
0,None,12,12022,1363.13901,2020-06-24,0.0271,326,881935.0,True,100,state,AC
1,Água Branca,2700102,23,113.88394,2020-06-24,0.0000,0,20196.0,True,22,city,AL
2,Anadia,2700201,172,980.33628,2020-06-24,0.0058,1,17545.0,True,63,city,AL
3,Arapiraca,2700300,2279,983.40000,2020-06-24,0.0123,28,231747.0,True,68,city,AL
4,Atalaia,2700409,390,826.53386,2020-06-24,0.0154,6,47185.0,True,60,city,AL
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Flexeiras,2702801,110,860.04691,2020-06-23,0.0182,2,12790.0,False,47,city,AL
996,Girau do Ponciano,2702900,292,713.63981,2020-06-23,0.0068,2,40917.0,False,35,city,AL
997,Ibateguara,2703007,45,288.16598,2020-06-23,0.1111,5,15616.0,False,66,city,AL
998,Igaci,2703106,44,171.66712,2020-06-23,0.0000,0,25631.0,False,44,city,AL
999,Igreja Nova,2703205,48,195.92636,2020-06-23,0.0417,2,24499.0,False,32,city,AL

In [ ]:
pd.DataFrame.from_dict(data['results'])

dash.plotly.com

elt_main.py

show_df.py